:root {
    background-color: #FFFFFF;
    font-size: 62.5%;
    color: #3F3F3F;
    /* Colors */
    --google-blue:  #4285F4;
    --google-red:  #EA4335;
    --google-yellow: #FBBC05;
    --google-gree: #34A853;
}

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Icon Color */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }



/* UTILITIES */
.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* NAV BAR */
.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 1.3rem;
    align-items: center;
    align-content: center;

}

.nav-left {
    display: flex;
    align-items: center;
    width: 50%;
    text-align: left;
}
.nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    text-align: right;  
}

nav div a{
    padding: 1rem;
    text-decoration: none;
    color: #333;

}
a:hover{
    text-decoration: underline;
}

.sign-in {
    margin: 1rem;
    padding: 1rem 3rem;
    border: none;
    border-radius:5px;
    background-color: var(--google-blue);
    text-decoration: none;
    font-size: 1.5rem;
    color: #ffffff;
}

.sign-in:hover {
    box-shadow: 1px -1px 5px silver;
    cursor: pointer;
}



/* POP UP MENU */

#menu {
    padding: .5rem;
}

#menu:hover {
    background-color: #eee;
    border-radius: 50%;
    cursor: pointer;
}

.popup-menu {
    position: absolute;
    top: 60px;
    right: 20px;
    width: 190px;

    background-color: #fff;
    border: 1px solid #c0c0c0;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    box-shadow: 1px -1px 5px silver;
    z-index: 99;
    border-radius: 5px;
}

.material-icons.md-dark {
    font-size: 4rem;
}

.popup-menu a {
    text-decoration: none;
    color: #3b3b3b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    padding: 10px;
}

.popup-menu a:hover {
    background-color: #eee;
    cursor: pointer;
}


/* MAIN SEARCH AREA */
.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 80vh;
    /* border: solid 1px black; */

}

.search-form > img{
    display: flex;
    align-items: center;
    margin-top: 12rem;
    padding: 2rem;

}

#search {
    display: flex;
    align-items: center;
    justify-content: left;
    align-content: flex-start;
    width: 50vw;
    max-width: 50rem;
    height: 4rem;
    border: 1px solid #e1e1e1;
    border-radius: 50px;
    padding: 0 10px;
    font-size: initial;
    margin: 2rem;

}

#search:hover, #search:active, #search:focus{
    box-shadow: 0px 1.7px 5px #dfdfdf;;
    outline: none;
}

#search > input{
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    padding-left: 10px;
    border: none;
    outline: none;

}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;

}
.search-btn > a {
    margin: .5rem;
    padding: 1rem 1.2rem;
    border: none;
    border-radius:5px;
    background-color: #e9e9e9;
    text-decoration: none;
    font-size: 1.5rem;
}

.search-btn > a:hover {
    border: solid .5px #c9c7c7; 
    cursor: pointer;
}
